{% extends 'base.html' %}

{% block content %}
<div id="daysite">
    <div class="overlay">
        <div class="row">
            <br /><br />
            <div class="col l6 m6 s12">
                <span class="aw-bold-text white-text ml-1">Top site of the day</span><span class="white-text ml-1">March 16 2020</span>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <h3 class = "white-text aw-bold-text center">Jane Doe - Portfolio</h3>
            <p class = "white-text center">BY 
                <a href="#" class="aw-link-color">JANE DOE</a> FROM 
                <a href="#" class="aw-bold-text white-text">AUSTRALIA</a> WITH 
                <span class="aw-bold-text">8.2</span>
            </p>
        </div>
        <div class="row">
            <div class="flexbox">
            <div class="rating-circle">
                <div class="aw-progress" id="progress-design"></div>
                <span class="white-text center">Design</span>
            </div>
            <div class="rating-circle">
                <div class="aw-progress" id="progress-usability"></div>
                <span class="white-text center">Usability</span>
            </div>
            <div class="rating-circle">
                <div class="aw-progress" id="progress-content"></div>
                <span class="white-text center">Content</span>
            </div>
            </div>
        </div>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col l1 m1 s12"></div>
    <div class="col l10 m10 s12">
        <div class="row">
            {% for i in sites %}
            <div class="col l3 m6 s12">
                <div class="card">
                    <div class="card-image">
                      <img src="http://res.cloudinary.com/dmu1ncyju/image/upload/v1583757528/zublmru0gu3vtevsjiiz.jpg">
                    </div>
                    <div class="card-content">
                      <p class="aw-bold-text">Image with stuff</p>
                      <p class="truncate">I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                      <span>BY <a href="#" class="black-text aw-bold-text">JANE</a></span>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col l1 m1 s12"></div>
</div>
{% endblock %}
