{% extends 'base.html' %}

{% block content %}
<div id="daysite" style="background-image: url('{{top_site.backdrop_image.url}}');">
    <div class="overlay">
        <div class="row">
            <br /><br />
            <div class="col l6 m6 s12">
                <span class="aw-bold-text white-text ml-1">Top site of the day</span><span class="white-text ml-1">{{today_date}}</span>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <h3 class = "white-text aw-bold-text center">{{top_site.title}}</h3>
            <p class = "white-text center">BY 
                <a href="/profile/{{top_site.user.username}}" class="aw-link-color">{{top_site.user.username}}</a> FROM 
                <a href="#" class="aw-bold-text white-text">{{top_site.user.profile.country}}</a> WITH 
                <span class="aw-bold-text">{{top_site.total_score}}</span>
            </p>
        </div>
        <div class="row">
            <div class="flexbox">
            <div class="rating-circle">
                <div class="aw-progress" id="progress-design"></div>
                <span class="white-text center">Design</span>
            </div>
            <div class="rating-circle">
                <div class="aw-progress" id="progress-usability"></div>
                <span class="white-text center">Usability</span>
            </div>
            <div class="rating-circle">
                <div class="aw-progress" id="progress-content"></div>
                <span class="white-text center">Content</span>
            </div>
            </div>
        </div>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col l1 m1 s12"></div>
    <div class="col l10 m10 s12">
        <div class="row">
            {% for project in projects%}
            <div class="col l3 m6 s12">
                <div class="card">
                    <div class="card-image">
                      <img src="{{project.backdrop_image.url}}">
                    </div>
                    <div class="card-content">
                      <a class="aw-bold-text truncate" href="/site/{{project.id}}">{{project.title}}</a>
                      <p class="truncate">{{project.description}}</p>
                    </div>
                    <div class="card-action">
                      <span>BY <a href="/profile/{{project.user.username}}" class="black-text aw-bold-text">{{project.user.username}}</a></span>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col l1 m1 s12"></div>
</div>
{% endblock %}
