<nav>
    <div class="nav-wrapper aw-navbar z-depth-0">
      <a href="/" class="brand-logo black-text center">
            {% include 'vectors/awwwards_logo.svg'%}
      </a>
      <a href="#" data-target="mobile-side" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down mr-2">
        <li><span class = "black-text mr-1"><span class="hide-on-med-and-down">ARE YOU A MEMBER?</span> REGISTER / LOGIN</span></li>
        <li style="background-color: #49c5b6;"><a href = "">SUBMIT YOUR SITE</a></li>
      </ul>
    </div>
    
  </nav>
  <ul class="sidenav" id="mobile-side">
    <li><a href="/" class="black-text"><i class="material-icons">home</i>Home</a></li>
  </ul>