{% extends 'base.html' %}

{% block content %}
<div id="daysite" style="background-image: url('{{site.backdrop_image.url}}');">
    <div class="overlay">
        <div class="row">
            <br /><br />
            
        </div>
        <br /><br />
        <div class="row">
            <h3 class = "white-text aw-bold-text center">{{site.title}}</h3>
            <p class = "white-text center">BY 
                <a href="/profile/{{site.user.username}}" class="aw-link-color">{{site.user.username}}</a> FROM 
                <a href="#" class="aw-bold-text white-text">{{site.user.profile.country}}</a> WITH 
                <span class="aw-bold-text">{{site.total_score|floatformat}}</span>
            </p>
        </div>
        <div class="row">
            <div class="flexbox">
            <div class="rating-circle">
                <div class="aw-progress" id="progress-design"></div>
                <span class="white-text center">Design</span>
            </div>
            <div class="rating-circle">
                <div class="aw-progress" id="progress-usability"></div>
                <span class="white-text center">Usability</span>
            </div>
            <div class="rating-circle">
                <div class="aw-progress" id="progress-content"></div>
                <span class="white-text center">Content</span>
            </div>
            </div>
        </div>
        <div class = "row flexbox">
        <a class="waves-effect waves-light btn modal-trigger" href="#vote-modal">Vote</a>
        </div>

  <!-- Modal Structure -->
  <div id="vote-modal" class="modal">
    <div class="modal-content">
        <form action = "/site/vote/{{site.id}}" method="POST">
            {% csrf_token%}
            <br />
            <p class="range-field">
            <label for="des-score">Design Score</label>
            <input type="range" id="des-score" min="0" max="10" name="design_score"/>
            </p>
            <p class="range-field">
                <label for="usb-score">Usability Score</label>
                <input type="range" id="usb-score" min="0" max="10" name="usability_score"/>
            </p>
            <p class="range-field">
                <label for="cont-score">Content Score</label>
                <input type="range" id="cont-score" min="0" max="10" name="content_score"/>
            </p>
            <input type = "submit" value = "vote" class = "btn right" style="background-color: #49c5b6">
        </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat"></a>
    </div>
  </div>
    </div>
</div>
<div class="row">
    <br />
    <div class="col l3 m3 s12"></div>
    <div class="col l6 m6 s12">
        <p class="center">{{site.description}}</p>
    </div>
    <div class="col l3 m3 s12"></div>
</div>
<script>
    window.onload = function myfunction(){
        onLoadSeq({{site.id}})
    }
</script>
{% endblock %}